{#
/**
 * @file
 * Default theme implementation to display a single page.
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<header class="header">

  {# Top Navigation #}
  {% if page.top_navigation %}
    {% block top_navigation %}
    <div id="MenuModal" class="smart-menu smart-menu-horizont-modal smart-menu-modal">

      <button id="searchview-close" class="searchview-close" aria-label="Close Search">
        <span class="searchview-close-wrapper">
          <span class="searchview-close-left"></span>
          <span class="searchview-close-right"></span>
        </span>
      </button>

      <aside class="search-container">
        <div class="container">
            {{ page.top_navigation }}
        </div>
      </aside>

    </div>
    {% endblock %}
  {% endif %}


{# Navbar #}
  {% if page.navigation or page.navigation_right %}
    {% block navbar %}
      <section class="site-navigation navigation">
        <nav class="nav nav-site navbar">
          <div class="container">
          
              {{ page.navigation }}
              
              {% if page.navigation_right %}
                {{ page.navigation_right }}
              {% endif %}

              <div class="right-menu">
                <button class="toggle-menu PushMenuLeft"><i class="fa fa-bars" aria-hidden="true"></i></button>
                <button class="toggle-menu MenuModal"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="toggle-menu PushMenuRight"><i class="fa fa-user" aria-hidden="true"></i></button>
              </div>

          </div>
        </nav>
      </section>
    {% endblock %}
  {% endif %}

  {# Breadcrumbs #}
  {% if page.breadcrumb %}
    {% block breadcrumb %}
    <section class="breadcrumbs">
      <div class="container" role="heading">
        <div class="row">
        {{ page.breadcrumb }}
        </div>
      </div>
    </section>
    {% endblock %}
  {% endif %}

  {# Highlighted #}
  {% if page.highlighted %}
    {% block highlighted %}
      <div class="highlighted">
        <div class="container">
          {{ page.highlighted }}
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {# Help #}
  {% if page.help %}
    {% block help %}
      {{ page.help }}
    {% endblock %}
  {% endif %}


</header>

<section role="main" class="page-login js-quickedit-main-content">
    <div class="container">
      <div class="login-form">

    {# Page top #}
    {% if page.header %}
      {% block header %}
        <div class="page-top">
            {{ page.header }}
        </div>
      {% endblock %}
    {% endif %}

    {# Main #}
    {% block main %}

        {% block content %}
        {{ page.content }}
        {% endblock %}

    {% endblock %}
    </div>
  </div>
</section>
{# Bottom #}
{% if page.bottom %}
  {% block bottom %}
  <section class="bottom">
    <div class="container">
      <div class="row">
        {{ page.bottom }}
      </div>
    </div>
  </section>
  {% endblock %}
{% endif %}

{% if page.footer or page.footer_menu_left or page.footer_menu_right or page.footer_copyright_left or page.footer_copyright_right %}
  {% block footer %}
    <footer class="footer site-footer {{ container }}" role="contentinfo">
      <div class="section-top row">
        <div class="wrapper container">

          <div class="left-menu">
            {{ page.footer_menu_left }}
          </div>
          <div class="right-menu">
            {{ page.footer_menu_right }}
          </div>
          
        </div>
      </div>
      <div class="section-center row">
        <div class="wrapper container">

        {{ page.footer }}
        
        </div>
      </div>
      <div class="section-copyright row">
        <div class="wrapper container">

          <div class="nav left-menu">
              {{ page.footer_copyright_left }}
          </div>
          <div class="nav right-menu">
            {{ page.footer_copyright_right }}
          </div>
          
        </div>
      </div>
    </footer>
  {% endblock %}
{% endif %}
