{#
  <div class="card card-teaser">
    <a href="{{ url }}" title="{{ node.label }}">
      <div class="card-image">
        <div class="statistic-icons">
          <i class="fa fa-link fa-2x" aria-hidden="true"></i>
        </div>
        {{ content.field_image }}
        <div class="card-date">
          <span class="date">{{ node.getCreatedTime|date('j') }}</span>
          <span class="month">{{ node.getCreatedTime|date('M') }}</span>
          <span class="time">{{ node.getCreatedTime|date('H:i') }}</span>
        </div>
      </div>
      <div class="card-teaser-content card-content">
        <div class="title"><span><b>{{ node.label }}</b></span></div>
        {{ content.body }}
      </div>
      </a>
  </div>
      #}
<div class="card card-media">
  <a href="{{ url }}" title="{{ node.label }}">
    <div class="card-image">
      <div class="card-icons">
        <span><i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i></span>
      </div>
      {{ content.field_video }}
      <div class="card-promout">
        <span class="hot">{{ date }}</span>
      </div>
      <div class="card-duration">
        <span class="time"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
      </div>
    </div>
  </a>
    <div class="card-content">
      <div class="title"><a href="{{ url }}" title="{{ node.label }}">{{ node.label }}</a></div>
    </div>
</div>
