
  <div class="card card-blog">
    
    <a class="link-to-blog" href="{{ url }}" title="{{ node.label }}">
      <div class="card-image">
        {{ content.field_image.0 }}
        <div class="card-user">
          <div class="card-user-picture">
            {{ author_picture }}
          </div>
          <div class="card-user-parm">
            <div class="card-user-name">{{ author_name }}</div>
            <div class="card-user-role">{{ author_count_posts }}</div>
          </div>
        </div>
        <div class="card-statistic">
          <sapn><i class="fa fa-eye"></i> {{ node_stats }}</sapn>
        </div>
        <div class="card-date">
          <span class="date">{{ node.getCreatedTime|date('j') }}</span>
          <span class="month">{{ node.getCreatedTime|date('M') }}</span>
        </div>
      </div>
      <div class="card-teaser-content card-content">
        <div class="title">{{ node.label }}</div>
        <div class="content">{{ content.body }}</div>
      </div>
      </a>
      
  </div>
