
  <div class="card card-teaser">
    <a href="{{ url }}" title="{{ node.label }}">
      <div class="card-image">
        <div class="statistic-icons">
          <i class="fa fa-link fa-2x" aria-hidden="true"></i>
        </div>
        {{ content.field_image.0 }}
        <div class="card-date">
          <span class="date">{{ node.getCreatedTime|date('j') }}</span>
          <span class="month">{{ node.getCreatedTime|date('M') }}</span>
          <span class="time">{{ node.getCreatedTime|date('H:i') }}</span>
        </div>
      </div>
      <div class="card-teaser-content card-content">
        <div class="title"><span><b>{{ node.label }}</b></span></div>
        {{ content.body }}
      </div>
      </a>
  </div>
