  <div class="card card-media">
    <a href="{{ url }}" title="{{ node.label }}">
      <div class="card-image">
        <div class="card-icons">
          <span></span>
        </div>
        {{ content.field_image }}
        <div class="card-promout">
          <span class="hot">{{ node.getCreatedTime|date('j/m/Y') }}</span>
        </div>
      <div class="card-duration">
        <span class="time"><i class="fa fa-clock-o"></i> {{ node.getCreatedTime|date(' H:i') }}</span>
      </div>
      </div>
      <div class="card-content">
        <div class="title">
          <a href="{{ url }}" title="{{ node.label }}">{{ node.label }}</a>
        </div>
      </div>
      </a>
  </div>
